<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuangfa.mapper.classify.ClassifyMapper" >
   <select id="getAll" resultType="com.shuangfa.domain.classify.Classify">
       select id, cname, cdescribe, ccontent, cimgsize, cimg from classify
   </select>
</mapper>