<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuangfa.mapper.production.UnitMapper" >
    <select id="getAll" resultType="com.shuangfa.domain.production.Unit">
        select id, uname from unit
    </select>
</mapper>